<img src="https://media.giphy.com/media/rQJF42ylb31iE/giphy.gif">

<div style="font-size: 28px">
<%= $game.player1.name %> vs <%= $game.player2.name %>
<br><br>
<%= $game.player1.name %> Health: <%= $game.player1.health %>
<br>
<%= $game.player2.name %> Health: <%= $game.player2.health %>

<form action="/confirmation">
<button type="submit" value="attack">Attack <%= $game.victim.name %> </button>
</form>

<div>
